<!DOCTYPE html>
<html>
<head>
	<title>Chatty Cats 2.0</title>
	<!-- CSS Link -->
	<link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Nav -->
	<nav>
		<a href="#/Home">
			<div id="logo">CC 2.0</div>
		</a>
		<a href="#UserProfile">
			<div id="profile-button"><img src="https://maxcdn.icons8.com/Android_L/PNG/24/Users/user-24.png" title="User" width="48" id="img"></div>
		</a>
	</nav>
	<section>
	<div id="newChatView">
		<select id="groupSelectDrop"></select>
		<input type="text" id="newChatInput" placeholder="Name your chat"/>
		<div><button id="submitNewChat">Submit</button></div>
	</div>
	</section>
	<img id="usersPop" src="./images/usertab.png"/>
	<!-- Chat Page -->
	<section id="chatPage">
		<div id="main">
		</div>
		<div id="chatBar">
		<form id="chatForm">
			<input type="text" id="chatBox" placeholder="Get Chatty">
			<button id="submitChat">Chat</button>
		</form>
		</div>
	</section>
	<!-- Home Page -->
<!-- 	<a href="#home"> -->
		<section id="home-page">
			<div id="make-your-profile">
				<div>Make Your Profile</div>
				<div id="password-error1">Passwords didn't match</div>
				<!-- <div id="password-error2">Passwords must contain at least 6 characters</div> -->
				<div class="description">It's fun, free, and easy</div>
				<input type="text" placeholder="Your Name" class="make-profile-name">
				<input type="text" placeholder="Your Username" class="make-profile-username">
				<input type="text" placeholder="Your Email" class="make-profile-email">
				<input type="password" placeholder="Password" class="make-profile-password">
				<input type="password" placeholder="Retype Password" class="make-profile-retype">
				<button id="start-button">Start</button>
				<form id="make-profile-form">
					<button id="join">Join</button>
				</form>
				<button id="cancel-profile">Cancel</button>
			</div>
		</section>
		<section id="Chat">
			<div id="join-a-chat">
				<div>Join A Chat</div>
				<div class="description">Jump right into your favorite chat</div>
				<a href="#Chat">
					<button id="chat-button">Chat</button>
				</a>
			</div>
		</section>
		<section>
			<div id="learn-more-tablet">
				<div>Learn More</div>
				<div class="description">Learn more about you favorite chat app</div>
				<button id="learn-more-btn-tablet">Learn More</button>
			</div>
			<div id="learn-more-btn-wrapper">
				<button id="learn-more">Learn More</button>
			</div>
			<div id="learn-more-page">
				<div>Learn More</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id quam pulvinar, pretium tortor ut, ullamcorper nisl. Nam aliquet maximus orci non lobortis. Aliquam pellentesque ligula ac erat pharetra, blandit vehicula mauris posuere. Sed dignissim tellus leo, a semper felis congue sed. Duis ut mollis urna. Nunc vitae turpis nec odio efficitur lobortis ut et tellus. Cras quis scelerisque turpis. Fusce a nunc felis.
				</p>
				<button id="close">Close</button>
			</div>
		</section>
		<section id="profile-area">
			<div id="user-profile">
			<!-- <div id="settings">
				<img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/settings-25.png" title="Settings" width="25">
			</div>
			<div id="settings-box"> -->

			<!-- </div> -->
				<div id="user-profile-pic"></div>
				<div id="users-username"></div>
				<!-- <div id="users-name"></div> -->
				<!-- <div id="users-email"></div> -->
				<div id="splitter"></div>
				<div id="about">About</div>
				<div id="about-area">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ligula id felis condimentum dignissim ac nec erat. Proin pharetra diam vel odio aliquet ornare. In hac habitasse platea dictumst.</div>
			</div>
		</section>

	<div id="footer"></div>
<!-- 	</a> -->

<!-- main chat window -->
<script type="text/template" id="listTemplate">
	<div id="chatView"></div>
</script>
<!-- individual chat -->
<script type="text/template" id="indChat">
	<div id="indChat" class="singleChatClass"><%=message%></div>
</script>
<script type="text/template" id="listOfMessages">
	<div><%- user_id %> : <%- message %></div>
</script>
<script type="text/javascript" src="/scripts/bundle.js"></script>

</body>
</html>
