#main {
  background-color: pink;
  background-overflow-y: hidden; }

#usersPop {
  background: transparent;
  height: 2em;
  width: 2em;
  float: right; }

#newChatView {
  display: none;
  float: right;
  margin: 5% auto;
  background: pink;
  text-align: center;
  padding: 2em 0;
  margin: 0 auto;
  width: 50%;
  border: 1px solid black; }

a {
  text-decoration: none;
  color: black; }

#chatPage {
  display: none; }

nav {
  height: 4em;
  background-color: #8C3228; }
  nav a {
    text-decoration: none; }
  nav #logo {
    font-family: 'Bubblegum Sans', cursive;
    color: #445552;
    float: left; }
  nav #profile-button {
    background-color: transparent;
    border: .1em solid;
    height: 2.5em;
    width: 2.5em;
    margin-top: .75em;
    float: right;
    padding-right: .5em;
    margin-right: .3em; }

#make-your-profile {
  background-color: #007481;
  height: 9em;
  margin: 1em 0.5em;
  text-align: center;
  padding-top: 1em; }
  #make-your-profile div {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    line-height: 1em; }
  #make-your-profile #password-error1 {
    display: none;
    color: #300000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em; }
  #make-your-profile #password-error2 {
    display: none;
    color: #300000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em; }
  #make-your-profile .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em; }
  #make-your-profile #start-button {
    background-color: #D87B00;
    border: .01em solid;
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.75em; }
  #make-your-profile #make-profile-form {
    display: inline-block; }
  #make-your-profile #join {
    background-color: #D87B00;
    display: none;
    border: .01em solid;
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.75em; }
  #make-your-profile #cancel-profile {
    background-color: #D87B00;
    display: none;
    border: .01em solid;
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.75em; }
  #make-your-profile .make-profile-name {
    display: none;
    background-color: #DADADA; }
  #make-your-profile .make-profile-username {
    display: none;
    background-color: #DADADA; }
  #make-your-profile .make-profile-email {
    display: none;
    background-color: #DADADA; }
  #make-your-profile .make-profile-password {
    display: none;
    background-color: #DADADA; }
  #make-your-profile .make-profile-retype {
    display: none;
    background-color: #DADADA; }

#join-a-chat {
  background-color: #007481;
  height: 9em;
  margin: 1em 0.5em;
  text-align: center;
  padding-top: 1em; }
  #join-a-chat div {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    line-height: 1em; }
  #join-a-chat .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em; }
  #join-a-chat #chat-button {
    background-color: #D87B00;
    border: .01em solid;
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    padding: 0.1em 0.75em; }

#learn-more-btn-wrapper {
  text-align: center; }
  #learn-more-btn-wrapper #learn-more {
    background-color: #D87B00;
    border: .01em solid;
    margin: 0.5em 3.15em;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    padding: 0.1em 0.75em; }

#learn-more-page {
  display: none;
  background-color: #007481;
  height: 25em;
  margin: 1em 0.5em;
  padding: 1em 1em 0 1em;
  text-align: center; }
  #learn-more-page div {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em; }
  #learn-more-page p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: .1em solid black; }
  #learn-more-page #close {
    background-color: #D87B00;
    border: .01em solid;
    margin-top: .5em;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    padding: 0.1em 0.75em; }

#learn-more-tablet {
  display: none; }

@media screen and (min-width: 768px) {
  #make-your-profile {
    width: 31%;
    display: inline-block;
    height: 20em;
    float: left; }
  #join-a-chat {
    width: 31%;
    display: inline-block;
    height: 20em;
    float: left; }
    #join-a-chat #chat-button {
      margin-top: 2.75em;
      background-color: #D87B00; }
  #user-profile #user-profile-pic {
    height: 7em;
    width: 7em;
    background-color: green; }
  #user-profile #users-username {
    width: 6.9em;
    border: .1em solid black;
    margin-top: .5em; }
  #user-profile #users-name {
    width: 6.9em;
    border: .1em solid black;
    margin-top: .5em; }
  #user-profile #users-email {
    width: 6.9em;
    border: .1em solid black;
    margin-top: .5em; }
  #learn-more-tablet {
    width: 31%;
    display: inline-block;
    height: 20em;
    background-color: #007481;
    margin: 1em 0.5em;
    text-align: center;
    padding-top: 1em; }
    #learn-more-tablet div {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 2em; }
    #learn-more-tablet .description {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1em; }
    #learn-more-tablet #learn-more-btn-tablet {
      background-color: #D87B00;
      border: .01em solid;
      margin-top: 1.5em;
      font-size: 1.5em;
      font-family: 'Roboto', sans-serif;
      padding: 0.1em 0.75em; }
  #learn-more {
    display: none; } }
