
#main {
		background: pink;
		overflow-y: hidden;
		line-height: 1.2em;
		padding-left: .5em;
		border: 1px solid black;
		margin-right: 0;
	}

#usersPop {
	background: transparent;
	height: 2em;
	width: 2em;
	float: right;


}
#chatBar {

}
#newChatView {
	border-radius: 5%;
	display: none;
	float: right;
	background: pink;
	text-align: center;
	padding: 2em 0;
	margin: 0 auto;
	width: 30%;
	border: 1px solid black;
}
#listOfMessages {
	margin: .2em 0;
}
#newChatInput {
	width: 50%;
}

body {
 background-color: #706360;
}

a {
	text-decoration: none;
	color: black;
}

#chatPage {
	display: none;
}

nav {
	height: 4em;
	background-color: #9888A5;

	a {
		text-decoration: none;
	}

	#logo {
		font-family: 'Bubblegum Sans', cursive;
		color: #445552;
	}
}

#make-your-profile {
    background-color: #10A4A2;
    height: 9em;
    margin: 1em 0.5em;
    text-align: center;
    padding-top: 1em;

    div {
    	font-family: 'Roboto', sans-serif;
    	font-weight: 900;
    	font-size: 2em;
    	line-height: 1em;
    }

    #password-error {
    	display: none;
		color: #300000;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 1em;
	}

    .description {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    	font-size: 1em;
    }

    #start-button {
    	background-color: #FBEDDA;
    	border: .01em solid;
	    margin-top: 1.5em;
	    font-size: 1.5em;
	    font-family: 'Roboto', sans-serif;
	    padding: .1em .75em;
	}

	#make-profile-form {
		display: inline-block;
	}

	#join {
		background-color: #FBEDDA;
		display: none;
		border: .01em solid;
	    margin-top: 1.5em;
	    font-size: 1.5em;
	    font-family: 'Roboto', sans-serif;
	    padding: .1em .75em;
	}

	#cancel-profile {
		background-color: #FBEDDA;
		display: none;
		border: .01em solid;
	    margin-top: 1.5em;
	    font-size: 1.5em;
	    font-family: 'Roboto', sans-serif;
	    padding: .1em .75em;
	}

	.make-profile-name {
		display: none;
	}
	.make-profile-username {
		display: none;
	}
	.make-profile-email {
		display: none;
	}
	.make-profile-password {
		display: none;
	}
	.make-profile-retype {
		display: none;
	}

}

#join-a-chat {
    background-color: #10A4A2;
    height: 9em;
    margin: 1em 0.5em;
    text-align: center;
    padding-top: 1em;

    div {
    	font-family: 'Roboto', sans-serif;
    	font-weight: 900;
    	font-size: 2em;
    	line-height: 1em;
    }

    .description {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    	font-size: 1em;
    }

    #chat-button {
    	background-color: #FBEDDA;
    	border: .01em solid;
	    margin-top: 1.5em;
	    font-size: 1.5em;
	    font-family: 'PT Sans', sans-serif;
	    padding: .1em .75em;
	}
}

#learn-more {
	background-color: #FBEDDA;
	border: .01em solid;
    margin: .5em 3.15em;
    font-size: 1.5em;
    font-family: 'PT Sans', sans-serif;
    padding: .1em .75em;
}

#learn-more-page {
	display: none;
	background-color: #10A4A2;
	height: 25em;
	margin: 1em 0.5em;
	padding: 1em 1em 0 1em;
	text-align: center;

	div {
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 2em;

	}

	p {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		border: .1em solid black;
	}

	#close {
		background-color: #FBEDDA;
		border: .01em solid;
	    margin-top: .5em;
	    font-size: 1.5em;
	    font-family: 'PT Sans', sans-serif;
	    padding: .1em .75em;
	}
}

	#user-profile {

	// #settings {
	// 	float: right;
	// }

	// #settings-box {
	// 	height: 1em;
	// 	width: 1em;
	// 	background-color: red;
	// 	float: right;
	// }

	#user-profile-pic {
		height: 7em;
		width: 7em;
		background-color: green;
		margin-left: .5em;
		margin-top: .5em;
		float: left;
	}

	#users-username {
		margin-top: .5em;
		float: right;
	}
	#users-name {
		width: 6.9em;
		border: .1em solid black;
		margin-top: .5em;
		margin-left: .5em;
	}
	#users-email {
		width: 6.9em;
		border: .1em solid black;
		margin-top: .5em;
		margin-left: .5em;
	}
}

#learn-more-tablet {
	display: none;
}

@media screen and(min-width: 768px) {
	#make-your-profile {
	    width: 31%;
	    display: inline-block;
	    height: 20em;
	    float: left;
	}

	#join-a-chat {
	 	width: 31%;
	    display: inline-block;
    	height: 20em;
    	float: left;

    	#chat-button {
    		margin-top: 2.75em;
    	}
	}

	#learn-more-tablet {
		width: 31%;
		display: inline-block;
		height: 20em;
		background-color: #10A4A2;
    	margin: 1em 0.5em;
    	text-align: center;
    	padding-top: 1em;

    	div {
    		font-family: 'Roboto', sans-serif;
			font-weight: 900;
			font-size: 2em;
    	}

    	.description {
        	font-family: 'Roboto', sans-serif;
        	font-weight: 300;
    		font-size: 1em;
    	}

    	#learn-more-btn-tablet {
			background-color: #FBEDDA;
    		border: .01em solid;
	    	margin-top: 1.5em;
	    	font-size: 1.5em;
	    	font-family: 'Roboto', sans-serif;
	 	   	padding: .1em .75em;
    	}
	}

	#learn-more {
		display: none;
	}
}

