#main {
	background: {
		color: pink;
		overflow-y: hidden;
	}
}
#usersPop {
	background: transparent;
	height: 2em;
	width: 2em;
	float: right;
	

}
#chatBar {

}
#newChatView {
	display: none;
	float: right;
	margin: 5% auto;
	background: pink;
	text-align: center;
	padding: 2em 0;
	margin: 0 auto;
	width: 50%;
	border: 1px solid black;
}